<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dhoni</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
</head>
<body class="dhoni">
    <center>
        <h1>Mahendra Singh Dhoni</h1>

        <img src="{{url_for('static', filename='images/dhoni.jfif')}}" alt="" height="400px", width="700px">

        <h2><a href="{{url_for('navigation')}}">Navigate to Virat page</a></h2>
    </center>
</body>
</html>